.about-card{
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    border-radius: 20px;
    height: 400px;
    width: 400px;
    padding: 50px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: all 0.2s ease-in-out;
    text-align: center;
}

.about-card h1{
    margin-bottom: 10px;
}

.about-card p{
    font-size: 18px;
    line-height: 24px;
}