#footer-container{
    background-color: #151922;
    width: 100%;
    overflow-x: hidden;
    position: relative;
    z-index: 0;
}

#footer-wrapper{
    padding: 48px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

#footer-wrapper h1 {
    color: #fff;
    justify-content: start;
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    font-weight: bold;
} 

#footer-wrapper small {
    color: #fff;
    margin-bottom: 16px;
}